<!--
  aligner.html
  ============
  template for the aligner directive
-->
<div id="aligner">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Layers</h2>
        </div>
        <div class="panel-body">
            <div id="layer-list"
                 class="btn-group"
                 ng-model="layerManager.layerOrder"
                 >
                 <label class="btn btn-default"
                        ng-repeat="layer in aligner.getLayers()"
                        data-id="{{ layer }}"
                        ng-class="{ 'active': layerManager.getLayer(layer).get('active') }"
                        ng-click="aligner.setActiveLayer(layer)"
                        >
                        {{ layer }}
                 </label>
            </div>
        </div>
    </div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Tools</h2>
    </div>
    <div class="panel-body">
        <div class="btn-group">
            <label class="btn btn-default"
                   ng-repeat="tool in aligner.toolsManager.getTools()"
                   ng-click="aligner.toolsManager.activeTool(tool)"
                   ng-class="{'active': tool == aligner.toolsManager.activeTool() }"
                   >
                   {{ tool }}
            </label>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Adjustments</h2>
    </div>
    <div id="adjustments" class="panel-body">
        <div class="grid2">
            <p>Opacity:</p>
            <input id="opacity"
                   type="range"
                   min="0"
                   max="1"
                   defaultValue="0.5"
                   step="any"
                   ng-model="aligner.opacity"
                   ng-model-options="{ getterSetter: true }"
                   />
            <p>Brightness:</p>
            <input id="brightness"
                   type="range"
                   min="-100"
                   max="100"
                   defaultValue="0"
                   step="1"
                   ng-model="aligner.brightness"
                   ng-model-options="{ getterSetter: true }"
                   />
            <p>Contrast:</p>
            <input id="contrast"
                   type="range"
                   min="-100"
                   max="100"
                   defaultValue="0"
                   step="1"
                   ng-model="aligner.contrast"
                   ng-model-options="{ getterSetter: true }"
                   />
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Filters</h2>
    </div>
    <div class="panel-body">
        <div id="filters" class="grid2">
            <p>Equalize:</p>
            <input id="equalize"
                   type="checkbox"
                   style="float: right;"
                   ng-model="aligner.equalize"
                   ng-model-options="{ getterSetter: true }"
                   />
        </div>
    </div>
</div>
</div>
