<div class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
        <label class="btn btn-default btn-lg btn-file">
            <span class='glyphicon glyphicon-picture' aria-hidden='true'></span>
            Upload
            <input image-upload type='file' accept='image/jpg, image/jpeg' style='display:none;'>
        </label>
    </div>
    <div class="btn-group" role="group">
        <button export-spots type="button" class="btn btn-default btn-lg">
            <span class='glyphicon glyphicon-save' aria-hidden='true'></span>
            Export
        </button>
    </div>
</div>
<img ng-src='{{imageURL}}'>
