<div class='panel panel-default'>
<div class='panel-heading'>
    <h1 class='panel-title'>spot manipulator</h1>
</div>
<div class='panel-body'>
    <div class='input-group'>
        <span class='input-group-addon'>Opacity</span>
        <input ng-model='spotOpacity' type='number' max='1' min='0' step='0.05'/>
        <span class='input-group-addon'>Spot Colour</span>
        <input ng-model='spotColour' type='number' max='360' min='0' step='10'/>
    </div>
    <div class='spotExample' ng-style='updateElementStyle(spotColour, spotOpacity)'></div>
    <div class='well'>
        The opacity is {{spotOpacity}} and the colour is {{spotColour}}.
    </div>
</div>
</div>
