<div ng-show='visible' class='panel panel-default'>
<div class='panel-heading'>
    <h1 class='panel-title'>Spot Detector</h1>
</div>
<div class='panel-body'>
    <form name='spotDetectorForm' ng-submit='detectSpots()'>
    <div class='input-group'>
        <span class='input-group-addon'>Top left spot centre</span>
        <input ng-model='formData.TL.x' ng-change='formChange()' type='number' min='0' />
        <input ng-model='formData.TL.y' ng-change='formChange()' type='number' min='0' />
    </div>
    <div class='input-group'>
        <span class='input-group-addon'>Bottom right spot centre</span>
        <input ng-model='formData.BR.x' ng-change='formChange()' type='number' min='0' />
        <input ng-model='formData.BR.y' ng-change='formChange()' type='number' min='0' />
    </div>
    <div class='input-group'>
        <span class='input-group-addon'>Array size</span>
        <input ng-model='formData.arraySize.x' ng-change='formChange()' type='number' min='0' step='1'/>
        <input ng-model='formData.arraySize.y' ng-change='formChange()' type='number' min='0' step='1'/>
    </div>
    <div class='input-group'>
        <span class='input-group-addon'>Brightness</span>
        <input ng-model='formData.brightness' ng-change='formChange()' type='number' min='-100'  max='100' step='1'/>
        <span class='input-group-addon'>Contrast</span>
        <input ng-model='formData.contrast' ng-change='formChange()' type='number' min='-100'  max='100' step='1'/>
        <span class='input-group-addon'>Threshold</span>
        <input ng-model='formData.threshold' ng-change='formChange()' type='number' min='0' max='100' step='1'/>
    </div>
    <button>Submit and detect</button>
    </form>
<!--
-->
</div>
</div>
