body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {
    cursor: -webkit-grab;
    cursor:-moz-grab;
    background-color: lightBlue;
    border: 1px dotted black;
}
canvas:active {
    cursor: -webkit-grabbing;
    cursor:-moz-grabbing;
}

.spotExample {
    margin: 10px;
    width: 70px;
    height: 70px;
    border-radius: 35px;
}

spot-detector {
    position: fixed;
    width: 400px;
    bottom: 30px;
    left: 30px;
}

spot-manipulator {
    position: fixed;
    width: 400px;
    bottom: 30px;
    right: 30px;
}
