body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {
    cursor: -webkit-grab;
    cursor:-moz-grab;
    background-color: lightBlue;
    border: 1px dotted black;
}
canvas:active {
    cursor: -webkit-grabbing;
    cursor:-moz-grabbing;
}

.spotExample {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: red;
}
