html {
    /*
    height: 100%;
    width: 100%;
    */
}

body {
    background-color: #eeeeee;
}

.spinner, .error-text {
    width: 600px;
    margin: 200px auto;
    text-align: center;
}

#viewer {
    background-color: black;
}

canvas:active {
}

.fullscreen {
    position: absolute;
    width: 100%;
    height: 100%;
}

.crosshair {
    cursor: -webkit-crosshair;
    cursor:    -moz-crosshair;
    cursor:         crosshair;
}

.ew-resize {
    cursor: -webkit-ew-resize;
    cursor:    -moz-ew-resize;
    cursor:         ew-resize;
}

.ns-resize {
    cursor: -webkit-ns-resize;
    cursor:    -moz-ns-resize;
    cursor:         ns-resize;
}

.nesw-resize {
    cursor: -webkit-nesw-resize;
    cursor:    -moz-nesw-resize;
    cursor:         nesw-resize;
}

.nwse-resize {
    cursor: -webkit-nwse-resize;
    cursor:    -moz-nwse-resize;
    cursor:         nwse-resize;
}

.grabbable {
    cursor: -webkit-grab;
    cursor:    -moz-grab;
    cursor:         grab;
}

.grabbed {
    cursor: -webkit-grabbing;
    cursor:    -moz-grabbing;
    cursor:         grabbing;
}

.clickable {
    cursor: -webkit-pointer;
    cursor:    -moz-pointer;
    cursor:         pointer;
}

.menu-wrapper {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: hsla(0, 0%, 100%, 1);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.menu-bar {
    background-color: hsla(0, 0%, 100%, 1);
    display: inline-block;
    vertical-align: top;
    /*
    -webkit-box-shadow: 2px 2px 5px 0px rgba(121, 121, 121, 0.5);
    -moz-box-shadow: 2px 2px 5px 0px rgba(121, 121, 121, 0.5);
    box-shadow: 2px 2px 5px 0px rgba(121, 121, 121, 0.5);
    */
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.menu-bar-panel {
    background-color: white;
    display: inline-block;
    width: 248px;
    /*
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(121, 121, 121, 0.5);
    -moz-box-shadow: 2px 2px 5px 0px rgba(121, 121, 121, 0.5);
    box-shadow: 2px 2px 5px 0px rgba(121, 121, 121, 0.5);
    */
}

.panel-content-wrapper {
    padding: 5px;
}

.menu-bar-panel-title {
    margin-left: 10px;
    margin-bottom: 5px;
}

.upload-filename {
    display: inline-block;
}

.image-upload-title {
    display: inline-block;
}

.submit-button {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.radio-button-group {
    width: 100%;
}

.radio-button {
    width: 50%;
}

.image-toggle-bar {
    border: #ddd 2px solid ;
    position: fixed;
    bottom: 20px;
    left: 20px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(121, 121, 121, 0.5);
    -moz-box-shadow: 2px 2px 5px 0px rgba(121, 121, 121, 0.5);
    box-shadow: 2px 2px 5px 0px rgba(121, 121, 121, 0.5);
}

.image-toggle-text {
    margin-bottom: 0px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.zoom-wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.zoom-bar {
    -webkit-box-shadow: 2px 2px 5px 0px rgba(121, 121, 121, 0.5);
    -moz-box-shadow: 2px 2px 5px 0px rgba(121, 121, 121, 0.5);
    box-shadow: 2px 2px 5px 0px rgba(121, 121, 121, 0.5);
}
#button-zoom-in {
    /* not sure why it isn't this already */
    border-top-right-radius: 4px;
}

hr {
    margin: 0px;
}

.clear {
    height: 20px;
    margin-bottom: 10px;
}

.spot-color-selector {
}

.spot-color-bar {
    font-size: 0;
    border: #000 0.1px solid;
}

.spot-color {
    display: inline-block;
    width: 39px;
    height: 39px;
}

#spot-color-1 {
    /* red */
    background-color: #E74C3C;
}

#spot-color-2 {
    /* orange */
    background-color: #E67E22;
}

#spot-color-3 {
    /* yellow */
    background-color: #F1C40F;
}

#spot-color-4 {
    /* green */
    background-color: #2ECC71;
}

#spot-color-5 {
    /* blue */
    background-color: #3498DB;
}

#spot-color-6 {
    /* purple */
    background-color: #9B59B6;
}

#spot-opacity-1 {
    /* 100 */
    background-color: #FFFFFF;
}

#spot-opacity-2 {
    /* 80 */
    background-color: #CCCCCC;
}

#spot-opacity-3 {
    /* 60 */
    background-color: #999999;
}

#spot-opacity-4 {
    /* 40 */
    background-color: #666666;
}

#spot-opacity-5 {
    /* 20 */
    background-color: #333333;
}

#spot-opacity-6 {
    /* 0 */
    background-color: #000000;
}
