<ul class="btn-group"
     ui-sortable="aligner.layerListOptions"
     ng-model="layerManager.layerOrder"
     >
  <li class="btn"
      ng-repeat="layer in aligner.getLayers()"
      ng-class="{ 'active': layerManager.getActiveLayer(layer) }"
      ng-click="layerManager.setActiveLayer(layer)"
      >
    {{ layer }}
  </li>
</ul>
<div>
  Opacity: <input type="range" min="0" max="1" defaultValue="0.5" step="any"
                  ng-model="aligner.opacity"
                  ng-model-options="{ getterSetter: true }"
                  ng-disabled="aligner.opacity == -1"
                  />
</div>
<div>
  Contrast: <input type="range" min="-1" max="1" defaultValue="0" step="any"
                   ng-model="aligner.contrast"
                   ng-model-options="{ getterSetter: true }"
                   ng-disabled="aligner.contrast == -1"
                   />
</div>
<ul class="btn-group">
  <li class="btn"
      ng-repeat="tool in toolsManager.getTools()"
      ng-click="toolsManager.activeTool(tool)"
      ng-class="{'active': tool == toolsManager.activeTool() }"
      >
    {{ tool }}
  </li>
</ul>
