<h2 class="nomargin">Layers</h2>
<ul class="btn-group nomargin"
     ui-sortable="aligner.layerListOptions"
     ng-model="layerManager.layerOrder"
     >
  <li class="btn"
      ng-repeat="layer in aligner.getLayers()"
      ng-class="{ 'active': layerManager.getActiveLayer(layer) }"
      ng-click="layerManager.setActiveLayer(layer)"
      >
    {{ layer }}
  </li>
</ul>
<h2 class="nomargin">Filters</h2>
<div>
  Opacity:
  <input type="range"
         min="0"
         max="1"
         defaultValue="0.5"
         step="any"
         ng-model="aligner.opacity"
         ng-model-options="{ getterSetter: true }"
         />
</div>
<div>
  Brightness:
  <input type="range"
         min="-100"
         max="100"
         defaultValue="0"
         step="1"
         ng-model="aligner.brightness"
         ng-model-options="{ getterSetter: true }"
         />
</div>
<div>
  Contrast:
  <input type="range"
         min="-100"
         max="100"
         defaultValue="0"
         step="1"
         ng-model="aligner.contrast"
         ng-model-options="{ getterSetter: true }"
         />
</div>
<ul class="btn-group">
  <li class="btn"
      ng-repeat="tool in toolsManager.getTools()"
      ng-click="toolsManager.activeTool(tool)"
      ng-class="{'active': tool == toolsManager.activeTool() }"
      >
    {{ tool }}
  </li>
</ul>
