<!doctype html>

<html lang='en'>
<head>
	<meta charset='utf-8'>
	<title>ST Spot Alignment</title>
	<meta name='description' content='Spatial Transcriptomics Alignment Web Tool'>

    <!-- library css -->
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css' />
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' />
	<link rel='stylesheet' href='css/spinkit/spinners/10-fading-circle.css'>

    <!-- project css -->
	<link rel='stylesheet' href='css/stylesheet.css'>

    <!-- library js -->
    <script src='https://code.jquery.com/jquery-3.1.0.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js'></script>

    <!-- project js -->
    <!-- viewer utility classes -->
	<script src='js/viewer/vec2.js'></script>
	<script src='js/viewer/scale-manager.js'></script>
	<script src='js/viewer/tilemap.js'></script>
	<script src='js/viewer/camera.js'></script>
	<script src='js/viewer/renderer.js'></script>

	<script src='js/viewer/spots.js'></script>
	<script src='js/viewer/calibrator.js'></script>
	<script src='js/viewer/keycodes.js'></script>
	<script src='js/viewer/event-handler.js'></script>
	<script src='js/viewer/logic-handler.js'></script>
	<script src='js/viewer/spot-selector.js'></script>
	<script src='js/viewer/spot-adjuster.js'></script>

    <!-- angular app files -->
	<script src='js/app.module.js'></script>
	<script src='js/main.controller.js'></script>
	<script src='js/image-upload.directive.js'></script>
	<script src='js/viewer.directive.js'></script>
</head>

<body ng-app='stSpots' ng-strict-di='true'>
    <div ng-controller='MainController'>
        <!--<canvas id='my-canvas' viewer-canvas ng-keypress='changed($event)' width=100% height=100%>-->
        <canvas viewer ng-show='visible.canvas'>
            If you're seeing this message, then either HTML5 canvasses are not supported in your browser, or you have JavaScript disabled.
        </canvas>
        <div ng-show='visible.menuBar' class='menu-wrapper'>
            <!-- Menu Bar -->
            <div class='menu-bar btn-group btn-group-vertical ' role='group'>
                <!-- Uploader -->
                <label class='btn btn-default btn-lg'>
                    <span class='glyphicon glyphicon-picture'></span>
                    <input image-upload type='file' accept='image/jpg, image/jpeg' style='display:none;'>
                </label>
                <!-- Detector -->
                <!--<button export-spots type='button' class='btn btn-default btn-lg'>-->
                <button ng-click='menuButtonClick("button_detector")' type='button' ng-class='menuButtonDisabled.button_detector' class='btn btn-default btn-lg'>
                    <span class='glyphicon glyphicon-eye-open'></span>
                </button>
                <!-- Adjuster -->
                <button ng-click='menuButtonClick("button_adjuster")' type='button' ng-class='menuButtonDisabled.button_adjuster' class='btn btn-default btn-lg'>
                    <span class='glyphicon glyphicon-record'></span>
                </button>
                <!-- Exporter -->
                <button ng-click='menuButtonClick("button_exporter")' type='button' ng-class='menuButtonDisabled.button_exporter' class='btn btn-default btn-lg'>
                    <span class='glyphicon glyphicon-save'></span>
                </button>
                <!-- Help -->
                <button ng-click='menuButtonClick("button_help")' type='button' class='btn btn-default btn-lg'>
                    <span class='glyphicon glyphicon-question-sign'></span>
                </button>
                <!-- Info -->
                <!-- This opens in a new tab to avoid an in-progress application being aborted -->
                <a target='_blank' href='https://github.com/SpatialTranscriptomicsResearch/st_aligner/blob/master/README.md' type='button' class='btn btn-default btn-lg'>
                    <span class='glyphicon glyphicon-info-sign'></span>
                </a>
            </div>
            <!-- Menu Bar Panel -->
            <div ng-show='visible.menuBarPanel' class='panel menu-bar-panel'>
            <!--
            <div class='menu-bar-panel'>
            -->
                <h4 class='menu-bar-panel-title'>{{ getPanelTitle(data.button) }}</h4>
                <hr>
                <!-- Menu Bar Panel Button-based HTMLs -->
                <div ng-show='visible.panel.button_help'>
                    {{ getHelpTexts(data.state) }}
                </div>
                <div ng-show='visible.panel.button_detector'>
                    <form name='spotDetectorForm' ng-submit='detectSpots()'>
                       <div class='input-group'>
                           <span class='input-group-addon'>Array size</span>
                           <input type='number' min='0' step='1'/>
                           <input type='number' min='0' step='1'/>
                       </div>
                       <a class='btn btn-default btn-lg' ng-click='detectSpots()'>Submit and detect</a>
                    </form>
                </div>
                <div ng-show='visible.panel.button_adjuster'>
                    <button ng-click='addSpots()'       ng-show='visible.spotAdjuster.button_addSpots'       type='button' class='btn btn-default'>Add spots</button>
                    <button ng-click='finishAddSpots()' ng-show='visible.spotAdjuster.button_finishAddSpots' type='button' class='btn btn-default'>Finish adding spots</button>
                    <button ng-click='deleteSpots()'    ng-show='visible.spotAdjuster.button_deleteSpots'    type='button' class='btn btn-default'>Delete selected spots</button>
                </div>
                <div ng-show='visible.panel.button_exporter'>
                    <div class='btn-group' aria-label='export spots'>
                        <form ng-submit='exportSpots(exportForm.coordinateType, exportForm.selection)'>
						<div class="btn-group" data-toggle="buttons">
							<label ng-class="{active: exportForm.selection == 'all'}" class="btn btn-primary">
								<input type="radio" value='all' ng-model='exportForm.selection'> All Spots
							</label>
							<label ng-class="{active: exportForm.selection == 'selection'}" class="btn btn-primary">
								<input type="radio" value='selection' ng-model='exportForm.selection' checked> Selection Only
							</label>
						</div>
						<br>
						<div class="btn-group" data-toggle="buttons">
                            <label ng-class="{active: exportForm.coordinateType == 'array'}" class="btn btn-primary active">
								<input type="radio" value='array' ng-model='exportForm.coordinateType' checked> Array Coordinates
							</label>
                            <label ng-class="{active: exportForm.coordinateType == 'pixel'}" class="btn btn-primary">
								<input type="radio" value='pixel' ng-model='exportForm.coordinateType'> Pixel Coordinates
							</label>
						</div>
						<br>
                        <input class='btn btn-default' type='submit' value='Export'/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class='spinner' ng-show='visible.spinner'>
            <div class="sk-fading-circle">
                <div class="sk-circle1  sk-circle"></div>
                <div class="sk-circle2  sk-circle"></div>
                <div class="sk-circle3  sk-circle"></div>
                <div class="sk-circle4  sk-circle"></div>
                <div class="sk-circle5  sk-circle"></div>
                <div class="sk-circle6  sk-circle"></div>
                <div class="sk-circle7  sk-circle"></div>
                <div class="sk-circle8  sk-circle"></div>
                <div class="sk-circle9  sk-circle"></div>
                <div class="sk-circle10 sk-circle"></div>
                <div class="sk-circle11 sk-circle"></div>
                <div class="sk-circle12 sk-circle"></div>
            </div>
            {{ getSpinnerText(data.state) }}
        </div>
        <div class='error-text' ng-show='visible.errorText'>
            An error occured! {{ data.errorText }}
        </div>
    </div>
</body>
    <script>
		// This script serves to resize the canvas element according to the size of the window
        // It is derived from http://stackoverflow.com/a/8486324/1748928

		(function() {
			var canvas = document.getElementsByTagName('canvas')[0];
			var context = canvas.getContext('2d');

			// resize the canvas to fill browser window dynamically
			window.addEventListener('resize', resizeCanvas, false);

			function resizeCanvas() {
					canvas.width = window.innerWidth;
					canvas.height = window.innerHeight;

					/**
					 * Your drawings need to be inside this function otherwise they will be reset when 
					 * you resize the browser window and the canvas goes will be cleared.
					 */
					drawStuff(); 
			}
			resizeCanvas();

			function drawStuff() {
					// do your drawing stuff here
			}
		})();
    </script>
</html>
