<div ng-show='visible' class='panel panel-default'>
    <div class='btn-group' role='group' aria-label='add spots'>
        <button ng-click='addSpots()'       ng-show='addSpotsVisible'       type='button' class='btn btn-default'>Add spots</button>
        <button ng-click='finishAddSpots()' ng-show='finishAddSpotsVisible' type='button' class='btn btn-default'>Finish adding spots</button>
    </div>
    <br>
    <div class='btn-group' role='group' aria-label='delete spots'>
        <button ng-click='deleteSpots()'    type='button' class='btn btn-default'>Delete selected spots</button>
        <!--<button ng-click='deleteSpots()'    ng-show='deleteSpotsVisible'    type='button' class='btn btn-default'>Delete selected spots</button>-->
    </div>
    <br>
    <div class='btn-group' aria-label='export spots'>
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Export spots <span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><button class='btn btn-default' ng-click='exportSpots("adjustedArray")'>Adjusted Array Coordinates</button></li>
			<li><button class='btn btn-default' ng-click='exportSpots("pixel")'>Pixel Coordinates</button></li>
		</ul>
	</div>
</div>
